* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


h1{
  text-align:center;
  margin-bottom:20px;
  margin-top:20px;
  font-family: Arial, Helvetica, sans-serif;

}

#box1,#box2,#box3 {
  float:left;
  height: 200px;
  border: 2px solid;
  background-color:#808080;
} 

section{
  clear: left;
}

.menu{
  width: 25%;
  padding:5px;
  position: relative;
  text-align:center; 
  top: 0%;
  right:-75%;
  margin-top: 0px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  font-weight: bold;
   font-size:1em;
}


.chicken {
  background-color:#258ea6;
}

.beef {
  background-color:#549f93;
}

.sushi {
  background-color:#9faf90;
}

  .m3{
    width:100%;
  }


p{
  margin:20px 15px;
  font-size:1.1em;
}
@media (min-width: 992px)   {
#box1,#box2,#box3 {
  width:32.1%;
  margin:.35em;
  } 
}


@media (min-width: 768px ) and (max-width: 991px) {
   
  .container {
  margin: 0 auto;
  display:inherit;
  justify-content: center;
  }
  
  #box1, #box2 {
    width:45%;
    margin:1em;
  }
  
  #box3{
    width:94%;
     margin:1em;
  }

}

@media screen and (max-width: 767px) {
  .container {
  margin: 0 auto;
  display:inherit;
  justify-content: center;
  }
  
  #box1, #box2 {
    width:94%;
     margin:1em;
  }
  
  #box3{
    width:94%;
     margin:1em;
  }
}
